/* C:\TNT-MKR\Website Stuff\Code Base\tnt-mkr-frontend\app\reset-password\resetPassword.module.css */

/* Main page styles */
.resetPasswordMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2.5rem;
    background: #fefaf0; /* --background-light */
    font-family: 'Roboto', sans-serif;
    color: #fe5100; /* --orange-500 */
  }
  
  /* Container styles */
  .resetPasswordContainer {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    border: 3px solid #fe5100; /* --orange-500 */
    max-width: 28rem;
    width: 100%;
  }
  
  /* Title styles */
  .title {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fe5100; /* --orange-500 */
  }
  
  /* Label styles */
  .label {
    color: #007bff; /* --text-blue */
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  /* Input styles */
  .input {
    padding: 0.75rem;
    border: 1px solid #fe5100; /* --orange-500 */
    border-radius: 0.25rem;
    background-color: #e5e7eb; /* gray-200 equivalent */
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
    width: 100%;
  }
  
  .input::placeholder {
    color: #fe5100; /* --orange-500 */
  }
  
  .input:focus {
    border-color: #fe5100; /* --orange-500 */
    outline: none;
    box-shadow: 0 0 0 2px #fe5100; /* --orange-500 */
    background-color: white;
  }
  
  /* Button styles */
  .button {
    background-color: #fe5100; /* --orange-500 */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s;
    width: 100%;
  }
  
  .button:hover {
    background-color: #c85200; /* --orange-600 */
  }
  
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Message styles */
  .errorMessage {
    color: #dc3545; /* --error-red */
    margin-top: 1rem;
  }
  
  .successMessage {
    color: #10b981; /* Tailwind green-500 for success */
    margin-top: 1rem;
  }